a{
  font-size: $font_size;
  text-decoration: none;
  color: $input_color;
}

.about{



  &__wrapper{
    margin-top: 5.4rem;
    display: grid;
    grid-template-columns: 1fr;
    row-gap:3.6rem ;
    //column-gap: 5.4rem;
    //margin-top: -70px;
    margin-bottom: 5.4rem;

  }
  &__content{
    background-color: $bg_color;
    max-width: 100%;
    padding: 4rem;
    line-height: 2.7rem;
  }
  &__subTitle{
    line-height: 2.7rem;
  }
  &__para{
    line-height: 2.7rem;
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
  }

  .about__img img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;

  }
  &__ul{
    //margin-top: 2.4rem;
  }
}


@media (max-width: 350px) {
  .about{
    margin-right: -4rem;
  }
}

@media (min-width: 650px) {
  .about__wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap:3.6rem ;
    column-gap: 5.4rem;

  }
}

@media (min-width: 1900px) {
  .about__content{
    //text-align: center;
    p{
      max-width: 70rem;
    }
    padding: 4rem 18rem;
  }
}
@media (min-width: 1500px) {
  .about__content{
    padding: 4rem 14rem;
  }
}

