/*
.footer{
  background-color: $bg_color;
  //margin: 100px -4rem 0 -4rem ;
  padding-bottom: 2.4rem;

  &__rs{
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    margin-left: 4rem;
    //margin: 0 12rem 0 4rem;
    text-align: center;
   // min-height: 200px;
    padding: 3.6rem 5.4rem;
    margin-bottom: 3.6rem;
  }
  &__rs-para{
    margin-bottom: 2.4rem;
  }
  &__rs-fb-ln a+a{
    margin-left: 1.6rem;
  }
  a{
    text-decoration: none;
  }
  &__privacy-btn{
    margin-left: 4rem;
    color: $input_color;
  }

}



*/
.footer{
  margin-top: 10rem;

  &__body{
    background-color: $bg_color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 5.4rem 5.4rem;
  }
  &__rs{
    padding: 5.4rem;
    text-align: center;
    background-color: white;

  }
  &__rs-para{
    margin-bottom: 2.4rem;
  }
  &__privacy-btn{
    margin-top: 3.6rem;
  }
}

@media (max-width: 500px){
  .footer__rs{
    padding: 2.4rem;

  }
}