@import url('https://fonts.googleapis.com/css?family=Lato');

$input_color: #84572A;
$bg_color: #E9EDC9;
$font_size: 1.6rem;
$title_font_size: 3.6rem;
$subTitle_font_size: 2.4rem;

* {
  box-sizing: border-box;
}
html{
  font-size: 10px;
  max-width: 100vw;
  font-family: Lato, sans-serif;

}
main{
  padding: 0 2rem;
}
.hidden{
  position: absolute;
  overflow: hidden;
  clip:rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border:0;
}

.title{
  font-size: $title_font_size;
}
.subTitle{
  font-size: $subTitle_font_size;
}
p, a{
  font-size: $font_size;
}
a.btn{
  border: 2px solid $input_color;
  text-decoration: none;
  background-color: white;
  border-radius: 20px;
  padding: 0.8rem 3.6rem;
  color: $input_color;
  text-align: center;
}


.intro{
  background: $bg_color;
  //width: 100vw;
  min-height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3.6rem;
  margin-bottom: 5.4rem;
  row-gap: 2.4rem;

  &__desc{
    text-align: center;
    max-width: 40rem;
    line-height: 2.7rem;
    //margin-bottom: 5.4rem;

  }


}

.content{
  &__module, &__collab{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2.4rem;
    column-gap: 4.2rem;
    margin-bottom: 5.4rem;
  }
  &__txt{
    background-color: $bg_color;
    max-width: 100%;
    padding: 4rem;
    line-height: 2.7rem;
    h3{
      margin-bottom: 2.4rem;
      line-height: 2.7rem;
    }
  }
  &__divBtn{
    margin-top: 3.6rem;
  }
  /*.content__collab-img{
    width: 600px;
  }*/
  &__module-img img, &__collab-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  &__collab-img{
    margin-top: 8.1rem;
  }

}
/*.content__collab .content__divBtn{

  margin-bottom: 12rem;
}*/

div.logos{
  display: flex;
  justify-content: start;
  column-gap: 5.4rem;
  row-gap: 5.4rem;
  margin-top: 8.1rem;
  flex-wrap: wrap;
}
div.logos img{
  height: 10rem;
  width: auto;
}
@media (min-width: 650px){
  main{
    padding: 0 8rem;
  }
  .content{
    &__module, &__collab{
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 2.4rem;
      //column-gap: 4.2rem;
    }
    &__txt{

      min-width: 270px;
      line-height: 2.7rem; //130%
      h3{
        margin-bottom: 2.4rem;
        line-height: 2.7rem;
      }
    }
   /* &__divBtn{
      margin-top: 3.4rem;
      margin-bottom: 12rem;
      align-items: start;
      justify-content: start;

    }*/

    &__collab-img{
      margin-top: 0;
    }

  }
  @media (min-width: 1800px){
    main{
      padding: 0 12.1rem;
    }
  }

  div.logos img{
    height: 15rem;
    width: auto;
  }

}
@media (min-width: 1900px) {

  .content{
    &__txt{
      max-width: 70rem;
      padding: 4rem 18rem;

    }

  }

}
@media (min-width: 1500px) {
  .content{
    &__txt{
      padding: 4rem 14rem;

    }
  }
}
@media (max-width: 315px) {
  .content{
    &__txt{
      padding: 4rem 0;

    }
  }
}

.js{
  position: relative;
  transform: translateY(200px);
  opacity: 0;
  transition: 1s all ease;
}

.js.active{
  transform: translateY(0);
  opacity: 1;
}
