.singleModule{


  &__wrapper{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: start;
  column-gap: 4.6rem;
  row-gap: 4.6rem;
  margin-top: 8rem;


}
  &__fig{
  max-width: 800px;
  height: 450px;
}
  &__thumb{
  width: 100%;
  height: 100%;
  object-fit: cover;

}
  &__content{
  max-width: 370px;
    line-height: 2.01rem;


  }
  &__desc{
    margin-top: 2.4rem;
  }


}


.ici{
  display: grid;
}

.singleModule__fig, .singleModule__logo{
  grid-column: 1;
  grid-row: 1;
}
.singleModule__fig{
  z-index: -2;
}
.singleModule__logo img{
  width: 100px;
  height: auto;
  margin-top: -50px;
}

.reste{
  margin-top: 12.1rem;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 3.6rem;
  row-gap: 5.4rem;
  margin-bottom: 12rem;
}
.reste p{
  line-height: 2.01rem;
}
.reste__img{
  max-width: 400px;
  height: 400px;
}
.reste__img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.singleModule__txt{
  background-color: $bg_color;
  max-width: 400px;
  padding: 4rem;
  h3{
    margin-bottom: 2.4rem;
  }
  p+h3{
    margin-top: 3.6rem;
  }
}


@media (max-width:650px ) {
  .reste{

    display: grid;
    grid-template-columns: 1fr;

  }
}


