.layout > h2{
  margin-top: 8.1rem;
}
.modules__wrapper, .publications__wrapper{

  background-color: $bg_color;
  margin-top: 8.1rem;
  padding-bottom:3.6rem ;
  padding-top: 3.6rem;
  display: flex;
  justify-content:end;
  column-gap: 5.4rem;
  row-gap: 11.6rem;
  flex-wrap: wrap;
}
.module, .publication{
  margin-top: -70px;
  a{
    text-decoration: none;
    color: black;
  }
  &__label{
    max-width: 33rem;
  }
  &__title{
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    font-weight: 900;
  }
  .light{
    font-weight: 300;
  }

  &__fig{
    height: 37rem;
    max-width: 33rem;
  }
  &__thumb{
    width:100% ;
    height: 100%;
    object-fit: cover;

  }
}

@media (max-width: 374px) {

  .module{

    &__label{
      max-width: 20rem;
    }

    &__fig{
      width: 20rem;
      height:30rem;
    }


  }
}
@media (min-width: 800px) {
  .modules__wrapper, .publications__wrapper{
    margin-left: 14rem;
    padding-right: 8.1rem;
    padding-left: 8.1rem;

  }
}

