@import url(https://fonts.googleapis.com/css?family=Roboto);
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  max-width: 100vw;
  font-family: Roboto, sans-serif;
}

body {
  padding: 0 2rem;
}

.hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.title {
  font-size: 3.6rem;
}

.subTitle {
  font-size: 2.4rem;
}

p, a {
  font-size: 1.6rem;
}

a.btn {
  border: 2px solid #84572A;
  text-decoration: none;
  background-color: white;
  border-radius: 20px;
  padding: 0.8rem 3.6rem;
  color: #84572A;
  text-align: center;
}

.intro {
  background: #E9EDC9;
  min-height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3.6rem;
  margin-bottom: 5.4rem;
  row-gap: 2.4rem;
}
.intro__desc {
  text-align: center;
  max-width: 40rem;
  line-height: 2.7rem;
}

.content {
  /*.content__collab-img{
    width: 600px;
  }*/
}
.content__module, .content__collab {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2.4rem;
  -moz-column-gap: 4.2rem;
       column-gap: 4.2rem;
  margin-bottom: 5.4rem;
}
.content__txt {
  background-color: #E9EDC9;
  max-width: 100%;
  padding: 4rem;
  line-height: 2.7rem;
}
.content__txt h3 {
  margin-bottom: 2.4rem;
  line-height: 2.7rem;
}
.content__divBtn {
  margin-top: 3.6rem;
}
.content__module-img img, .content__collab-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.content__collab-img {
  margin-top: 8.1rem;
}

/*.content__collab .content__divBtn{

  margin-bottom: 12rem;
}*/
div.logos {
  display: flex;
  justify-content: start;
  -moz-column-gap: 5.4rem;
       column-gap: 5.4rem;
  row-gap: 5.4rem;
  margin-top: 8.1rem;
  flex-wrap: wrap;
}

div.logos img {
  height: 10rem;
  width: auto;
}

@media (min-width: 650px) {
  body {
    padding: 0 8rem;
  }
  .content {
    /* &__divBtn{
       margin-top: 3.4rem;
       margin-bottom: 12rem;
       align-items: start;
       justify-content: start;

     }*/
  }
  .content__module, .content__collab {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2.4rem;
  }
  .content__txt {
    min-width: 270px;
    line-height: 2.7rem;
  }
  .content__txt h3 {
    margin-bottom: 2.4rem;
    line-height: 2.7rem;
  }
  .content__collab-img {
    margin-top: 0;
  }
}
@media (min-width: 650px) and (min-width: 1800px) {
  body {
    padding: 0 12.1rem;
  }
}
@media (min-width: 650px) {
  div.logos img {
    height: 15rem;
    width: auto;
  }
}
@media (min-width: 1900px) {
  .content__txt {
    max-width: 70rem;
    padding: 4rem 18rem;
  }
}
@media (min-width: 1500px) {
  .content__txt {
    padding: 4rem 14rem;
  }
}
@media (max-width: 315px) {
  .content__txt {
    padding: 4rem 0;
  }
}
nav a {
  color: black;
  text-decoration: none;
}

nav a:hover {
  color: #84572A;
}

.nav__item--current a {
  -webkit-text-decoration: #84572A underline;
          text-decoration: #84572A underline;
  text-underline-offset: 0.7rem;
  color: #84572A;
}

nav.nav li a {
  display: inline-block;
  position: relative;
}

nav.nav li a:after {
  content: "";
  position: absolute;
  width: 40%;
  transform: scaleX(0);
  height: 0.2rem;
  bottom: -0.7rem;
  left: 0;
  background-color: #84572A;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

nav.nav li a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav__toggle {
  margin-top: 3.6rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.logo svg {
  width: 150px;
  height: auto;
}

.menuOpen svg {
  width: 2rem;
  height: auto;
}

.menuClose svg {
  width: 3rem;
  height: auto;
}

.menuOpen {
  display: none;
}

.navIcon {
  display: grid;
}

.layer1, .layer2, .layer3 {
  grid-column: 1;
  grid-row: 1;
}

.layer1 {
  z-index: 3;
}

input[type=checkbox] {
  /* Double-sized Checkboxes */ /* IE */ /* FF */ /* Safari and Chrome */ /* Opera */
  transform: scale(2.3);
  opacity: 0;
  cursor: pointer;
}

.nav__container {
  display: none;
}

input:checked ~ ul {
  padding-top: 3.6rem;
  margin-top: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2.4rem;
  background-color: #E9EDC9;
  width: 100vw;
  height: 100vh;
}

input:checked ~ .layer2 {
  display: none;
}

input:checked ~ .layer3 {
  display: block;
  margin-left: 3.6rem;
}

input:checked ~ .layer3, input:checked {
  margin-left: 3.6rem;
}

@media (min-width: 800px) {
  .nav__container {
    display: flex;
  }
  .nav__link {
    margin-right: 2.4rem;
  }
  nav input, nav.nav div#menuToggle div.navIcon .layer2 {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 0.1rem;
    width: 0.1rem;
    margin: -0.1rem;
    padding: 0;
    border: 0;
  }
}
/*
.footer{
  background-color: $bg_color;
  //margin: 100px -4rem 0 -4rem ;
  padding-bottom: 2.4rem;

  &__rs{
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    margin-left: 4rem;
    //margin: 0 12rem 0 4rem;
    text-align: center;
   // min-height: 200px;
    padding: 3.6rem 5.4rem;
    margin-bottom: 3.6rem;
  }
  &__rs-para{
    margin-bottom: 2.4rem;
  }
  &__rs-fb-ln a+a{
    margin-left: 1.6rem;
  }
  a{
    text-decoration: none;
  }
  &__privacy-btn{
    margin-left: 4rem;
    color: $input_color;
  }

}



*/
.footer {
  margin-top: 10rem;
}
.footer__body {
  background-color: #E9EDC9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 5.4rem 5.4rem;
}
.footer__rs {
  padding: 5.4rem;
  text-align: center;
  background-color: white;
}
.footer__rs-para {
  margin-bottom: 2.4rem;
}
.footer__privacy-btn {
  margin-top: 3.6rem;
}

@media (max-width: 500px) {
  .footer__rs {
    padding: 2.4rem;
  }
}
.layout > h2 {
  margin-top: 8.1rem;
}

.modules__wrapper, .publications__wrapper {
  background-color: #E9EDC9;
  margin-top: 5.4rem;
  padding-bottom: 3.6rem;
  display: flex;
  justify-content: end;
  -moz-column-gap: 5.4rem;
       column-gap: 5.4rem;
  row-gap: 3.6rem;
  flex-wrap: wrap;
}

.module a, .publication a {
  text-decoration: none;
  color: black;
}
.module__label, .publication__label {
  max-width: 33rem;
}
.module__title, .publication__title {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}
.module__fig, .publication__fig {
  height: 37rem;
  max-width: 33rem;
}
.module__thumb, .publication__thumb {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 374px) {
  .module__label {
    max-width: 20rem;
  }
  .module__fig {
    width: 20rem;
    height: 30rem;
  }
}
@media (min-width: 800px) {
  .modules__wrapper, .publications__wrapper {
    margin-left: 14rem;
    padding-right: 8.1rem;
    padding-left: 8.1rem;
  }
}
.singleModule__wrapper {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: start;
  -moz-column-gap: 4.6rem;
       column-gap: 4.6rem;
  row-gap: 4.6rem;
  margin-top: 8rem;
}
.singleModule__fig {
  max-width: 80rem;
  height: 45rem;
}
.singleModule__thumb {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.singleModule__content {
  max-width: 37rem;
  line-height: 2.7rem;
}
.singleModule__desc {
  margin-top: 2.4rem;
}

.ici {
  display: grid;
}

.singleModule__fig, .singleModule__logo {
  grid-column: 1;
  grid-row: 1;
}

.singleModule__fig {
  z-index: -2;
}

.singleModule__logo img {
  width: 10rem;
  height: auto;
  margin-top: -50px;
}

.reste {
  margin-top: 12.1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 3.6rem;
       column-gap: 3.6rem;
  row-gap: 5.4rem;
  margin-bottom: 12rem;
}

.reste p {
  line-height: 2.7rem;
}

.reste__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.singleModule__txt {
  background-color: #E9EDC9;
  max-width: 40rem;
  padding: 4rem;
}
.singleModule__txt h3 {
  margin-bottom: 2.4rem;
}
.singleModule__txt p + h3 {
  margin-top: 3.6rem;
}

@media (max-width: 650px) {
  .reste {
    display: grid;
    grid-template-columns: 1fr;
  }
}
a {
  font-size: 1.6rem;
  text-decoration: none;
  color: #84572A;
}

.about__wrapper {
  margin-top: 5.4rem;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3.6rem;
  margin-bottom: 5.4rem;
}
.about__content {
  background-color: #E9EDC9;
  max-width: 100%;
  padding: 4rem;
  line-height: 2.7rem;
}
.about__subTitle {
  line-height: 2.7rem;
}
.about__para {
  line-height: 2.7rem;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
}
.about .about__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (max-width: 350px) {
  .about {
    margin-right: -4rem;
  }
}
@media (min-width: 650px) {
  .about__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3.6rem;
    -moz-column-gap: 5.4rem;
         column-gap: 5.4rem;
  }
}
@media (min-width: 1900px) {
  .about__content {
    padding: 4rem 18rem;
  }
  .about__content p {
    max-width: 70rem;
  }
}
@media (min-width: 1500px) {
  .about__content {
    padding: 4rem 14rem;
  }
}
.contact__title {
  margin-bottom: 5.4rem;
}
.contact__info {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 3.6rem;
  -moz-column-gap: 3.6rem;
       column-gap: 3.6rem;
  background-color: #E9EDC9;
  padding: 3.6rem;
}
.contact__hepl, .contact__issep {
  max-width: 37rem;
}
.contact .subTitle {
  margin-bottom: 2.4rem;
}
.contact li {
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
}
.contact__aside-form {
  margin-top: 5.4rem;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 12.1rem;
       column-gap: 12.1rem;
  row-gap: 5.4rem;
}
.contact__link {
  background-color: #E9EDC9;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 3.6rem;
}
.contact__link h4 {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}
.contact section {
  display: flex;
  flex-direction: column;
}
.contact section div {
  margin-right: 4rem;
  margin-bottom: 2.4rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
}
.contact section div label {
  font-size: 1.6rem;
}
.contact section div input:not([type=checkbox]), .contact section div textarea {
  border: 2px solid #84572A;
  background-color: white;
  color: #84572A;
  min-height: 3.6rem;
  padding: 0.9rem;
}
.contact section div input:focus::-moz-placeholder, .contact section div textarea:focus::-moz-placeholder {
  color: grey;
}
.contact section div input:focus:-ms-input-placeholder, .contact section div textarea:focus:-ms-input-placeholder {
  color: grey;
}
.contact section div input:focus::placeholder, .contact section div textarea:focus::placeholder {
  color: grey;
}
.contact section div input[type=checkbox] {
  opacity: 1;
  width: 1rem;
  margin-right: 2.4rem;
}
.contact section div input:checked {
  margin-left: 1rem;
}
.contact button {
  border: solid 2px #84572A;
  background-color: white;
  padding: 0.8rem 0;
  cursor: pointer;
}

p.form__error {
  color: #b71111;
  font-size: 1.4rem;
}

p.message {
  margin-bottom: 4rem;
  text-align: center;
}

p.message-envoi {
  margin-bottom: 9rem;
}
